.btn {
    background-color: #3f8cff;
    color: white;
    border-radius: 14px;
    box-shadow: 0px 6px 12px 0px rgba(63, 140, 255, 0.26);
}

.btn.medium {
    padding: 13px 45px;
}

.btn.small {
    padding: 13px 21px;
}
.btn:hover {
    opacity: 0.7;
}
